html, body {
	height: 100%;
}
body {
	background-image: linear-gradient(orange, green, yellow);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

}
h1 {
	font-family: Lucida Bright, sans-serif;
	font-style: italic;
	clear: both;
	
}


div.container-fluid {
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	
	}

.row > div{
	border-width: 3px;
	border-style: solid;
	font-family: Lucida Bright, sans-serif;
	color: white;
	border-color: darkblue;
	background-color: #5783cf;
	margin-top: 2px;
	margin-bottom: 2px;
	
	
}

#beef {
	margin-left: -20px;
	list-style: none;

}
#all{
	box-sizing: border-box;
	border: 12px outset;
	border-color: darkblue;
	width: 100%;
	margin-left: 0px;
	
	}

td {
	border-bottom: 2px dotted black;
	width: 80%;
}

h3 {
	margin-top: 7px;
}
.price {
	text-align: right;
	margin-top:3px;
}



